.idea/
target/
*.iml
app/tuding/bin/
app/tuding/gen/
app/tuding/proguard/
app/appcompat_v7/bin/
app/appcompat_v7/gen/
app/xutils/bin/
app/xutils/gen/
app/social_sdk_library_project/bin/
app/social_sdk_library_project/gen/
app/richEditor/bin/
app/richEditor/gen/
app/ping_client/bin/
app/ping_client/gen/
app/ping_server/build/classes
app/ping_server/.settings
app/tuding/lint.xml
